{% extends "base.html" %}
{% load humanize %}


	{% block content %}

	<h1>Job list</h1>

	<div class="row">
		<div class="col-lg-12">
			
		{% with total=latest_jobs_list.count %}
			     
			{% if keyword %}
					<p><strong>{{ total }}</strong> jobs found for <strong>"{{ keyword }}"</strong></p>

					{% else %}
					<p><strong>{{ total }}</strong> jobs found.</p>
			{% endif %}
		{% endwith %}
		</div>
	</div>
	
	<div class="row text-right">
		<ul>
			<li><strong>Sort by:</strong></li>
			<li><a href="{% url 'emplois:latest' %}">Posted 2 weeks ago</a></li>
			<li><a href="{% url 'emplois:expire' %}">Will expired in 2 weeks from now</a></li>
			<li><a href="{% url 'emplois:all_jobs_posted' %}">All jobs</a></li>
		</ul>	
	</div>

	{% for emploi in latest_jobs_list %}

		<h3><a href="{% url 'emplois:detail' emploi.id %}">{{ emploi.position }}.</a></h3>
		
		<p>
     	{% autoescape off %}
			      {{ emploi.job_summary |truncatewords_html:50}}.
			{% endautoescape %}
		</p>
		<ul>
			<li><strong>Salary: </strong>
				{% if ',' in emploi.salarymax %}
			{{ emploi.salarymax | intcomma }}$ anually
			{% else %}
			{{ emploi.salarymax | floatformat:2 }}$ hourly
			{% endif %}
			</li>
			<li><strong>Expiring date: </strong>{{ emploi.expirydate }}</li>
			<li><strong>postdate: </strong> {{ emploi.pub_date| naturaltime }}</li>
			<li><strong>Apply link: </strong> <a href="{{ emploi.joburl }}" target="_blank">Apply</a></li>
			<!--
			<li><strong>email it to me: </strong> <a href="#">button</a></li>
			-->
		</ul>

	{% endfor %}

	{% endblock %}
