{% extends "base.html" %}
{% load humanize %}
{% load analytical %}


	{% block content %}

	<h1>Liste des Emplois</h1>
	
	<div class="row text-right">
		<ul>
			<li><a href="{% url 'emplois:latest' %}">Latest job posting</a></li>
			<li><a href="{% url 'emplois:expire' %}">Expiring soon</a></li>
		</ul>	
	</div>

	{% for emploi in latest_jobs_list %}

		<h3>Postition: <a href="{% url 'emplois:detail' emploi.id %}">{{ emploi.position }}.</a></h3>
		<p><strong>Description: </strong>{{ emploi.job_summary }}.</p>
		<ul>
			<li><strong>Salary: </strong>{{ emploi.salarymax | intcomma }}$</li>
			<li><strong>Expiring in: </strong>{{ emploi.expiredate | naturaltime}}</li>
			<li><strong>postdate: </strong> {{ emploi.pub_date| naturaltime }}</li>
			<li><strong>Apply link: </strong> <a href="{{ emploi.job_url }}" target="_blank">Apply</a></li>
			<!--
			<li><strong>email it to me: </strong> <a href="#">button</a></li>
			-->
		</ul>

	{% endfor %}

	{% endblock %}
		