{% extends "base.html" %}
{% load humanize %}

	{% block content %}

{% if language == "EN" %}


		<h1>About page</h1>

	 <p>This website provides the current and past job opportunities at the  <a href="http://ottawa.ca/en/city-hall/jobs-city" target="_blank">City of Ottawa</a>. The data obtained comes directly from the <a href="http://data.ottawa.ca/en/dataset/job-opportunities" target="_blank">Ottawa Open data portal</a>.</p>

	<p>The content of this website is under the <a target="_blank" href="https://creativecommons.org/licenses/by-nd/3.0/">CC-BY-ND</a> license. The images of the Ottawa city flags is under the Wiki Creative Commons License. The code for this application is also available on <a href="https://github.com/guinslym/django-ottawa-city-jobs" target="_blank">Github</a>. Some third party of the code can't be transfert like the Twitter bot api and the bitly api.</p>

	{% endif %}



{% if language == "FR" %}


		<h1>À Propos</h1>

	 <p>Cette page web fournit la plus récente <a href="http://ottawa.ca/fr/hotel-de-ville/emplois-la-ville" target="_blank">liste d'emplois à Ville d'Ottawa</a>. Les emplois qui ne sont plus affichés sur le site web de la ville parce qu'ils ont été expirés, sont aussi accessible sur ce site. Les données ont été récupérés sur <a href="http://data.ottawa.ca/fr/dataset/job-opportunities" target="_blank">le portail de données ouvertes d'Ottawa</a></p>

	 <p>Le contenu de ce site web est sous license <a target="_blank" href="https://creativecommons.org/licenses/by-nd/3.0/">CC-BY-ND</a>. L'image du drapeau de la ville d'Ottawa est sous license Wiki Creative Commons. Les scripts qui ont permis de créer cette application web sont aussi disponible sur <a href="https://github.com/guinslym/django-ottawa-city-jobs" target="_blank">Github</a> sous license CC-BY. Les scripts contenants des informations personnelles par exemple pour faire fonctionner la publication de Tweet sur Twitter n'ont pas été inclus dans le code sur <a href="https://github.com/guinslym/django-ottawa-city-jobs" target="_blank">Github</a></p>

	{% endif %}
{% endblock %}